BraveSoftware/
cmst/
dconf/
envman/
Code/
gh/
obsidian/
pulse/
Thunar/
xfce4/
QtProject.conf
user-dirs.dirs
user-dirs.locale
clipit/clipitrc
google-chrome/
vlc/
vlc/vlcrc
btop/
sublime-text/
systemd/
Electron/
VirtualBox/
balena-etcher/
copyq
obs-studio/
copyq/
copyq/
nvim/lazy-lock.json
thorium/
content_shell/