BraveSoftware/
cmst/
dconf/
envman/
Code/
gh/
obsidian/
pulse/
Thunar/
xfce4/
copyq/
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
clipit/clipitrc
google-chrome/NativeMessagingHosts/org.freedownloadmanager.fdm5.cnh.json
Softdeluxe/Free Download Manager.conf
vlc/vlc-qt-interface.conf
vlc/vlcrc
btop/
sublime-text/Local/Session.sublime_session
