BraveSoftware/
cmst/
dconf/
envman/
Code/
gh/
obsidian/
pulse/
Thunar/
xfce4/
QtProject.conf
user-dirs.dirs
user-dirs.locale
clipit/clipitrc
google-chrome/NativeMessagingHosts/org.freedownloadmanager.fdm5.cnh.json
vlc/vlc-qt-interface.conf
vlc/vlcrc
btop/
sublime-text/
systemd/
Electron/
VirtualBox/
balena-etcher/
copyq
obs-studio/
copyq/
copyq/copyq_tab_JmNsaXBib2FyZA==.dat
